---
import FormattedDate from "../FormattedDate.astro";
const { slug, post } = Astro.props;

const postTitle =
  post.title.length > 80 ? post.title.slice(0, 80) + "..." : post.title;
---

<div
  class="card relative w-full flex flex-col justify-end items-end rounded-lg overflow-hidden"
  style={`background-image: url()`}
>
  <img
    class="object-cover w-full h-full"
    src={post.heroImage}
    alt={post.title}
  />
  <div
    class="flex flex-col justify-start items-start gap-2 py-6 px-4 text-white bg-stone-950 h-60"
  >
    <div class="flex justify-start items-center gap-2 text-xs">
      <span class="text-stone-300">
        <FormattedDate date={post.pubDate} />
      </span>
      <span>.</span>
      <span
        class="font-bold text-sky-600 hover:text-sky-500 transition-all duration-200 ease-in-out"
      >
        <a class="relative block" href={`/tags/${post.tags[0]}/`}>
          {post.tags[0]}
        </a>
      </span>
    </div>
    <h3 class="relative text-2xl font-serif font-bold">
      <span>
        {postTitle}
      </span>
      <span
        class="undrline absolute block inset-0 underline opacity-0 duration-300 ease-in-out"
        tabindex="-1"
        aria-hidden="true"
      >
        {postTitle}
      </span>
    </h3>
  </div>
  <a class="absolute inset-0 z-10" href={`/blog/${slug}/`}></a>
</div>

<style>
  .card {
    transform: scale(1);
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .card:hover {
    transform: scale(1.025);
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .card img {
    transform: scale(1);
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .card:hover img {
    transform: scale(1.08);
    transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  .card:hover .undrline {
    opacity: 1;
  }
</style>
